<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        button {
            padding: 15px 30px;
            margin: 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>Karte zur live Analyse von Kraftstoffverbrauch</h1>
    <p>Wähle eine Richtung(Hauptrichtung: Nord-Süd,Ost-West / Gegenrichtung: Süd-Nord,West-Ost):</p>

    <form action="{{ url_for('show_map') }}" method="get">
        <button type="submit">Zur Karte für die Hauptrichtung</button>
    </form>

    <form action="{{ url_for('show_map_gegen') }}" method="get">
        <button type="submit">Zur Karte für die Gegenrichtung</button>
    </form>

</body>
</html>